body {
	text-align: center;
}

.modal-dialog {
	width: 30%;
	height: 100%;
	background-color: gray;
	border: 2px solid #000;
	padding:15px 30px;
	display: block;
}

.modal-header {
	text-align: center;
}

.divBoton {
	float: right;
}

.nombreLabel, .precioLabel, .caloriasLabel, .existenciasLabel,.alcoholLabel, .gradosLabel, .tipoLabel,.passLabel, .emailLabel,.usernameLabel ,.apellidosLabel {
	color: black;
}

label , h2{
	color: white;
}

label {
	float:left;
	width: 30%;
}

label, input {
	display: block;
}
h2 {
	color: black;
}

.usuarioInput, .passwordInput {
	width: 90%;
}

.checkdiv {
	display: inline-block;
	padding: 5px;
}

.checkLabel {
	margin: 8px; 
	width: 45%;
	display: block;
}

.checkInput {
	width: 10px;
}

.modal-dialog {
    border: none;
    background-color: transparent;
}
#login {
	background-color: gray;
	border-color: green;
}

