#formulario{
  width: auto;
  display: inline-block;
  background: LightGray;
  padding: 10px;
  border-right: 2px solid black;
}

#pintarProductos{
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

p{
  position: absolute;
}

body{
	background: white;
}

label{
  font-size: 19px;
}

input{
  height: 25px;
  width: 100%;
}

textarea{
  resize: none;
}

#campos{
  margin: 20px;
}

.button{
  background: SteelBlue;
  color: white;
  display: inline-block;
  margin: 5px;
}

.imgPos{
  width: 100px;
  height: auto;
}

tr>th:first-child{
  width: 110px;
  height: 55px;
}

tr>th:last-child{
  width: 100px;
  height: 55px;
}

.hidden{
  display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr>td {
    background-color: #dddddd;
}

#carrito{
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 8px;
  cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px 20px 60px 20px;
    border: 1px solid #888;
    width: 60%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pintarTotal{
  float: right; 
  font-size: 25px;
  padding: 10px;
}

#circle{
  display: none;
  background: #f00;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  position: fixed;
  top: 75px;
  right: 75px;
  margin: 8px;
  color: white;
  text-align: center;
}



