*{
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100vh;
	margin: 0px;
	background-color: white;
}

button{
	background: blue;
	color: white;
	border: none;
	font-size: 20px;
	padding: 3px 10px 3px 10px;
	margin: 10px;
}

p{
	padding: 0px;
}

.divRestaurante{
	display: block;
	height: 100vh;
	width: 100vw;
}

.divBotones{
	display: block;
	width: 100vw;
	height: 50px;
	background-color: rgba(50, 50, 200, 0.7);
}

.divCarta{
	display: inline-block;
	height: 400px;
	width: 30vw;
	float: left;
}

.tablaCarta table{
	width: 100%;
	border-collapse: collapse;
	font-size: 10px;
}

.tablaCarta th, td{
	border: 1px solid black;
	text-align: center;
}

.divCartas{
	display: block;
	height: 195px;
	width: 97%;
	padding: 5px 5px 5px 5px;
}

.divComidas{
	background-color: rgba(128, 252, 117, 1)
}

.divBebidas{
	background-color: rgba(252, 176, 117, 1)
}

.divMesas{
	display: inline-block;
	height: 400px;
	width: 69vw;
	background-color: rgba(117, 117, 252, 1);
	overflow: scroll;
	padding: 5px;
	float: left;
}

.divMesa{
	display: inline-block;
	width: 120px;
	height: 90px;
	background-color: white;
	padding: 5px;
	margin: 1vw;
	font-size: 10px;
	float: left;
}

.divMesaOcupada{
	background-color: goldenrod;
}

.divMesaOrden{
	background-color: lawngreen;
}

.divRecepcion{
	display: block;
	height: 130px;
	width: 100vw;
	background-color: rgba(117, 117, 252, 1);
	overflow: scroll;
	padding: 5px;
	float: left;
}

.divGrupoClientes{
	display: inline-block;
	width: 10vw;
	height: 3vw;
	background-color: rgba(238, 8, 42, 0.9);
	padding: 1vw;
	margin: 5px;
	font-size: 10px;
}